.main-container {
  background-color: #0e1117;
  border-radius: 1rem;
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
  transition: 0.2s ease-out;
}

.title:hover {
  color: #1db954;
}

.search-area {
  background-color: #1f222b;
  border: 0.1rem solid #353b49;
  border-radius: 1rem;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.search-area:focus-within {
  border: 1px solid #1db954;
  box-shadow: 0 0 0 0.2rem rgba(29, 185, 84, 0.3);
}

#btn-search {
  cursor: pointer;
}

.search-icon {
  color: #b3b3b3;
  font-size: 1.4rem;
  transition: 0.2s ease-out;
}

.search-icon:hover {
  color: #ffffff;
}

#search-input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  color: #b3b3b3;
  caret-color: #1db954;
}

#search-input::placeholder {
  color: #b3b3b3;
}

#divisor-line {
  display: none;
  border: 0.1rem solid #353b49;
  margin: 2rem 0;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  font-size: 2rem;
  color: #1db954;
}

.hidden {
  display: none;
}

#result {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.artist-dates {
  background-color: #1a1e27;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  margin: 0 2rem 2rem;
  border-radius: 1rem;
}

.photo {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
}

.music {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.3rem;
  max-width: 40rem;
}

.album {
  color: #b3b3b3;
  font-size: 1.2rem;
  font-weight: 400;
}

.btn-play {
  margin-left: auto;
  background-color: #1db954;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.btn-play:hover {
  background-color: #2bf070;
}

.no-result {
  color: #b3b3b3;
  font-size: 1.4rem;
}
