.main-container {
  background-color: #0e1117;
  border-radius: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.title {
  font-size: 3rem;
}

.search-area {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 30%;
  left: 3%;
  color: #b3b3b3;
  font-size: 1.4rem;
}

.search-input {
  font-family: "Poppins", sans-serif;
  min-width: 30rem;
  height: 4rem;
  background-color: #1f222b;
  color: #b3b3b3;
  border: 0.1rem solid #353b49;
  border-radius: 1rem;
  padding-left: 3.5rem;
  outline: none;
  caret-color: #1db954;
}

.search-input:focus {
  border: 1px solid #1db954;
  box-shadow: 0 0 0 0.2rem rgba(29, 185, 84, 0.3);
}

.search-input::placeholder {
  color: #b3b3b3;
}

.divisor-line {
  border: 0.1rem solid #353b49;
  margin: 2rem 0;
}
